.section {
    width: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.headerText {
    display: inline;
    font-size: 25px;
    text-align: center;
}

.wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.link {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.img {
    width: 180px;
    height: auto;
}

.txt {
    max-width: 200px;
    font-size: 20px;
    color: rgba(27, 99, 171, 0.904);
    line-height: 25px;
    font-weight: 200;
}

@media screen and (max-width: 915px) {
    .headerText {
        font-size: 14px;
    }
} 
